<!DOCTYPE html>
<html>
<head>
    <title>IMAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/imagestyle.css') }}">
</head>
<body>
    
    <div class="flex-container">
        <div>
        <img src={{ image }} alt="image">
        </div>

        <div>
        <form action="/image" method='POST'>
        <input type="text" id="guess" name="guess">
        <input type="submit" value="Make Guess" name="randomWord">
        </form>
        </div>

        <p>
        {{ correct }}
        {{ hints }}
        </p>
    </div>

</body>


</html>